{% extends 'common/base.html' %}
{% load bootstrap %}

{% block head_auxiliary %}
<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css" ref="stylesheet" />

<!-- Facebook SDK for JS -->
<script>
  window.fbAsyncInitNext = [];
  window.fbAsyncInit = function() {
    FB.init({
      appId      : '334467960089822',
      cookie     : true,
      xfbml      : true,
      version    : 'v2.8'
    });
    FB.AppEvents.logPageView();
    window.fbAsyncInitNext.map(function(next) { next && next(); });
  };

  (function(d, s, id){
     var js, fjs = d.getElementsByTagName(s)[0];
     if (d.getElementById(id)) {return;}
     js = d.createElement(s); js.id = id;
     js.src = "//connect.facebook.net/en_US/sdk.js";
     fjs.parentNode.insertBefore(js, fjs);
   }(document, 'script', 'facebook-jssdk'));
</script>
<!-- End Facebook SDK for JS -->

<!-- Facebook Pixel Code -->
<script>
!function(f,b,e,v,n,t,s){if(f.fbq)return;n=f.fbq=function(){n.callMethod?
n.callMethod.apply(n,arguments):n.queue.push(arguments)};if(!f._fbq)f._fbq=n;
n.push=n;n.loaded=!0;n.version='2.0';n.queue=[];t=b.createElement(e);t.async=!0;
t.src=v;s=b.getElementsByTagName(e)[0];s.parentNode.insertBefore(t,s)}(window,
document,'script','//connect.facebook.net/en_US/fbevents.js');
// Insert Your Facebook Pixel ID below.
fbq('init', '630465933724385');
fbq('track', 'PageView');
</script>
<!-- Insert Your Facebook Pixel ID below. -->
<noscript><img height="1" width="1" style="display:none"
src="https://www.facebook.com/tr?id=630465933724385&ev=PageView&noscript=1"
/></noscript>
<!-- End Facebook Pixel Code -->

{% endblock %}

{% block title %}
<title>demoshop</title>
{% endblock %}

{% block header_block %}
<!-- Navigation -->
<nav class="top-banner navbar navbar-default navbar-fixed-top">
  <div class="navbar-header" style="text-align: 100%; width: 100%;">
    <a class="navbar-brand text-center center-block" href="/demoshop" style="float: none; font-family: 'Arial Black', Gadget, sans-serif; font-size: 28px; font-style: italic;">DemoShop</a>
  </div>
</nav>
{% endblock %}
