{% extends 'demoshop/base.html' %}

{% block body_block %}
<div class="container">
   <div class="row">
     {% for product in products %}
     <div class="media">
       <div class="media-left">
         <a href="#">
           <img width="128px" class="media-object"
                src="{{ product.image_link }}"
                alt="{{ product.title }}">
         </a>
       </div>
       <div class="media-body">
         <h4 class="media-heading" data-product-id="{{ product.id }}">{{ product.title }}</h4>
         <p>Price: {{ product.price }},
            Availablity: {{ product.availability }}</p>
       </div>
     </div>
     {% endfor %}
   </div>
   </hr>

   <div class="fb-messenger-checkbox"
        origin="https://www.didi-ads.com:5566/demoshop/cart"
        page_id="1563357783913549"
        messenger_app_id="334467960089822"
        user_ref="{{ userref }}"
        prechecked="true"
        allow_login="true"
        size="xlarge">
   </div>
   <script>
    function fbMessengerConfirmOptIn() {
       FB.AppEvents.logEvent('MessengerCheckboxUserConfirmation', null, {
         'app_id':'334467960089822',
         'page_id':'1563357783913549',
         'ref':'{{ transref|safe }}',
         'user_ref':'{{ userref }}'
       });
     }
   </script>

   <a href="pay" class="btn btn-primary btn-block btn-pay">
     Pay {{ total }} USD Now!
   </a>
   <script>
   (function() {
     function _parseValue(vstr) {
       return parseFloat(vstr.replace('USD', '').trim());
     }

     contentids = [];
     total = 0;
     {% for product in products %}
     contentids.push('{{ product.id }}');
     total = total + _parseValue('{{ product.price }}');
     {% endfor %}

     $('.btn-pay').click(function() {
       fbMessengerConfirmOptIn();
       fbq('track', 'InitiateCheckout', {
         content_type: 'product',
         content_ids: contentids,
         value: total,
         currency: 'USD'
       });
       var params = {};
       params[FB.AppEvents.ParameterNames.CONTENT_ID] = contentids.join();
       params[FB.AppEvents.ParameterNames.CONTENT_TYPE] = 'product';
       params[FB.AppEvents.ParameterNames.CURRENCY] =  'USD';
       FB.AppEvents.logEvent(FB.AppEvents.EventNames.INITIATED_CHECKOUT, total, params);
       // return false;
     });
   })();
   </script>

</div>
{% endblock %}
