{% extends 'demoshop/base.html' %}

{% block body_block %}
<div class="container">
   <div class="row">
     {% for product in products %}
     <div class="media">
       <div class="media-left">
         <a href="#">
           <img width="128px" class="media-object"
                src="{{ product.image_link }}"
                alt="{{ product.title }}">
         </a>
       </div>
       <div class="media-body">
         <h4 class="media-heading">{{ product.id }}</h4>
         <p>Price: {{ product.price }},
            Availablity: {{ product.availability }}</p>
       </div>
     </div>
     {% endfor %}
   </div>
   </hr>

   <div class="fb-messenger-checkbox"
        origin="https://www.didi-ads.com:5566/demoshop/cart"
        page_id="1563357783913549"
        messenger_app_id="334467960089822"
        user_ref="{{ userref }}"
        prechecked="true"
        allow_login="true"
        size="xlarge">
   </div>
   <script>
     window.fbAsyncInit = function() {
       FB.init({
         appId      : '334467960089822',
         xfbml      : true,
         version    : 'v2.6'
       });
     };

     (function(d, s, id){
       var js, fjs = d.getElementsByTagName(s)[0];
       if (d.getElementById(id)) {return;}
       js = d.createElement(s); js.id = id;
       js.src = "//connect.facebook.net/en_US/sdk.js";
       fjs.parentNode.insertBefore(js, fjs);
     }(document, 'script', 'facebook-jssdk'));

     function fbMessengerConfirmOptIn() {
       FB.AppEvents.logEvent('MessengerCheckboxUserConfirmation', null, {
         'app_id':'334467960089822',
         'page_id':'1563357783913549',
         'ref':'{{ transref|safe }}',
         'user_ref':'{{ userref }}'
       });
     }

   </script>

   <a href="pay" class="btn btn-primary btn-block"
      onclick="fbMessengerConfirmOptIn()">Pay {{ total }} USD Now!</a>
</div>
{% endblock %}
