{% extends 'demoshop/base.html' %}

{% block body_block %}
<div class="container">
   <div class="row">
     <center>
       <img src="http://loremflickr.com/320/240/kitty">
       <h2>Thank you ! ω(=＾・＾=)ω </h2>
       <a href="/demoshop">Shop more?</a>
     </center>
   </div>
</div>
<script>
(function() {
  function getQueryVariable(variable) {
    var query = window.location.search.substring(1);
    var vars = query.split('&');
    for (var i = 0; i < vars.length; i++) {
        var pair = vars[i].split('=');
        if (decodeURIComponent(pair[0]) == variable) {
            return decodeURIComponent(pair[1]);
        }
    }
    console.log('Query variable %s not found', variable);
  }

  var contentids = getQueryVariable('contentids');
  var total = getQueryVariable('total');
  fbq('track', 'Purchase', {
    content_type: 'product',
    content_ids: contentids,
    total: total,
    currency: 'USD'
  });
})();
</script>
{% endblock %}
